<!-- <p>delete-modal works!</p> -->
<div class="modal-content">
    <div class="modal-header">
        <h6 class="text-primary"> Delete Record </h6>
    </div>
    <div class="modal-body">
        Are you sure that you want to delete the selected record?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-style border-0 text-uppercase loginBtn" (click) = "confirm()">Yes</button>
        <button type="button" class="btn btn-outline-warning text-warning text-uppercase loginBtn" (click) = "close()">No</button>
    </div>
</div>
