<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-white min-vh-100">
            <div class="row">
                <div class="col-md-12 p-0 bg-white header-container transition">
                </div>
                <div class="col-md-12 bg-light content-container">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-md-12 footer p-0">
                </div>
            </div>
        </div>
    </div>
</div>
