<!-- <p>register works!</p> -->
<!-- <p>auth-layout works!</p> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-white min-vh-100">
            <div class="row">
                <div class="col-md-12 p-0 header-container transition">
                </div>
                <div class="col-md-12 bg-light content-container">
                    <h5 class="text-center">Register</h5>
                    <div class="card w-50 mx-auto my-auto">
                        <div class="card-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/login">Back</a></li>
                                </ol>
                              </nav>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="email" class="text-secondary">Email</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-12 pt-3">
                                    <label for="username" class="text-secondary">Username</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-12 pt-3">
                                    <label for="password" class="text-secondary">Password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="col-md-12 pt-3 text-center">
                                    <button class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 footer p-0">
                </div>
            </div>
        </div>
    </div>
</div>
